{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idguidefk</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td><a href="{{ path('demande_show', { 'idVpFk': demande.idVpFk }) }}">{{ demande.idGuideFk }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('demande_show', { 'idVpFk': demande.idVpFk }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('demande_edit', { 'idVpFk': demande.idVpFk }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demande_new') }}">Create a new demande</a>
        </li>
    </ul>
{% endblock %}
